@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 20% 95%; /* #f0f2f5 */
    --foreground: 222.2 84% 4.9%; /* #020817*/

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 217.17 100% 51.57%; /* #0866ff */
    --primary-foreground: #050505;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: #65676b;

    --secondary-icon: #65676b;
    --secondary-button-background: #e4e6eb;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --border-divider: #ced0d4;

    --input: 214.3 31.8% 91.4%;
    --ring: 217.17 100% 51.57%;

    --radius: 0.5rem;

    --shadow-2: rgba(0, 0, 0, 0.2);
    --card-box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
      0 2px 4px 0 rgba(0, 0, 0, 0.1);

    --hover-item: #e3e5e8;
    --hover-item-radio: #f2f2f2;
    --hover-icon-button: #d8dadf;

    --overlay: 0 0% 96%;
    --disabled-button-text: #bcc0c4;
    --card-background-flat: #f7f8fa;

    --comment-background: #f0f2f5;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: #65676b;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --top-to-main: 5rem;
  }
}

.test {
  color: #e3e5e8;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@layer utilities {
  /* Shadows */
  .shadow-popover {
    box-shadow:
      0 12px 28px 0 var(--shadow-2),
      0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  .shadow-card {
    box-shadow: 0 1px 2px var(--shadow-2);
  }

  .shadow-card-box {
    box-shadow: var(--card-box-shadow);
  }

  .sidebar-top {
    top: var(--top-to-main);
  }

  .press {
    @apply transition-all active:scale-[.98];
  }
}
